  body
            {
               background-color:#202020;
            }
            .banner
            {
                //background-color:rgba(0,0,0,0.7);
                background-color:transparent;
                
                transition: 1s;
                position:fixed;
                top:0px;
                z-index: 1;
                color:white;
            }
            #logo
            {
                margin-top: 120px;
            }
            #pieLogo
            {
                //border:solid 2px black;
                text-align: center;
                font-size: 36px;
                margin-top:25px;
                color:black;
                background-color:rgba(255,255,255,0.8)
            }
            .bannerBlanco
            {
                background-color:white;
                transition: 1s;
                color:black;
                box-shadow: 2px 2px 2px 5px black;
            
            }
            .documento
            {   
               padding:15px;
            }
              
            .imgCentral
            {
                min-height: 500px;
                background-image: url('imgCentral1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .sombraImgCentral
            {
                background-color:rgba(0,0,0,0.25); 
                min-height: 500px;
                width: 100%;
            }
            a:hover
            {
                text-decoration: none;
            }
            .itemResto
            {
                overflow: hidden;
                min-height: 400px;
                border:solid 2px black;
                padding:80px;
                border:solid 2px black;
                
            }
            #itemResto1
            {
                background-color:#DD4B39;
            }
            #itemResto2
            {
                text-align: center;
            }
            .columnaItemRestp
            {
                padding:80px;
            }
            .footer
            {
                text-align: center;
            }
            .columna-footer
            {
                border:solid 2px white;
                text-align: center;
                color:#D66F3F;
            }
            .columna-footer-header
            {
                font:"Arial";
                font-size: 24px;
                text-align: center;
                color:#AAAAAA;
            }
